<div class="row">
  <div class="col-md-12">
    <h2 class="title-h2">List of aircrafts </h2>
    <input type="button" value="Add" class="btn btn-default add-btn" (click)="add()" />
  </div>
</div>

<div *ngIf="tableMode; else create" class="list-wrapper">
  <div class="row list-header">
    <div class="col-md-3">Aircraft name</div>
    <div class="col-md-2">Aircraft release date</div>
  </div> 
  <div *ngFor="let aircraft of aircrafts; let ind = index; let even = even;" class="row list-data-wrapper" [ngClass]="{ even: light-grey-item }" >
    <div class="col-md-3">{{aircraft?.aircraftName}}</div>
    <div class="col-md-2">{{aircraft?.aircraftReleaseDate | date:'short'}}</div>
    <div class="col-md-7">
      <button class="btn btn-sm btn-primary" data-toggle="collapse" href="#collapseExample" aria-expanded="false" aria-controls="collapseExample">Details</button>
      <button class="btn btn-sm btn-primary" (click)="editType(aircraft)">Edit</button>
      <button class="btn btn-sm btn-danger" (click)="delete(aircraft)">Delete</button>
    </div>
    <aircraft-detail [aircraft]="aircraft"></aircraft-detail>
  </div>
</div>

<!-- <tr [class.selected]="aircraft === selectedAircraft"> -->
<!--(click)="onSelect(aircraft)">    -->
<!-- [ngIf]="aircraft?.id != a.id" [ngIfElse]="edit" -->
<!-- <ng-template > -->

<!-- </ng-template> -->

<ng-template #create>
  <div class="form-group">
    <label>aircraft name</label>
    <input type="text" [(ngModel)]="aircraft.aircraftName" class="form-control" />
  </div>
  <div class="form-group">
    <label>aircraft release date</label>
    <input type="text" [(ngModel)]="aircraft.aircraftReleaseDate" class="form-control" />
  </div>
  <div class="form-group">
    <label>Aircraft type</label>
    <input type="text" [(ngModel)]="aircraft.aircraftType" class="form-control" />
  </div>
  <div>
    <input type="button" value="Save" (click)="save()" class="btn btn-success" />
    <input type="button" value="Cancel" (click)="cancel()" class="btn btn-warning" />
  </div>
</ng-template>

<ng-template #edit>
  <div class="form-group">
    <label>aircraft name</label>
    <input type="text" [(ngModel)]="aircraft.aircraftName" class="form-control" />
  </div>
  <div class="form-group">
    <label>aircraft release date</label>
    <input type="text" [(ngModel)]="aircraft.aircraftReleaseDate" class="form-control" />
  </div>
  <div class="form-group">
    <label>Aircraft type</label>
    <input type="text" [(ngModel)]="aircraft.aircraftType" class="form-control" />
  </div>
  <div>
    <input type="button" value="Save" (click)="save()" class="btn btn-success" />
    <input type="button" value="Cancel" (click)="cancel()" class="btn btn-warning" />
  </div>
</ng-template>