.main-container{
    min-height:100%;
    position:relative;
}
body {
    padding:10px;
    padding-bottom:57px; 
 }
footer {
    text-align: center; 
    position:absolute;
    bottom:0;
    width:100%;
    height:57px;   
}


