.navbar-inverse {
    background-color: #4ed0ffa6;
    border-color: #000000;
}

.navbar-fixed-top {
    top: 0;
    border-width: 0 0 1.5px;
}

.navbar-inverse .navbar-brand {
    color: #000000;
    font-weight: 550;
}

.navbar-inverse .navbar-nav > li > a {
    color: #000;
    font-weight: 550;
}

.navbar-nav {
    float: right;
    margin: 0;
}

footer{
    text-align: center;
}

