<div class="col-md-12 " *ngIf="stewardess">
  <div class="row">

    <div class="col-md-12">
      <h4>Details</h4>
    </div>
    <div class="col-md-12">
      <div class="row detail-list-header">
        <div class="col-md-3">First name</div>
        <div class="col-md-3">Last name</div>
        <div class="col-md-3">DOB</div>
        <div class="col-md-3">Crew id</div>
      </div>
      <div class="row detail-list">
        <div class="col-md-3">{{stewardess?.firstName}}</div>
        <div class="col-md-3">{{stewardess?.lastName}}</div>
        <div class="col-md-3">{{stewardess?.dob | date:'longDate'}}</div>
        <div class="col-md-3">{{stewardess?.crewId}}</div>
      </div>
    </div>

  </div>
</div>