<h2>List of aircrafts types
  <input type="button" value="Add" class="btn btn-default" (click)="add()" />
</h2>

<div *ngIf="tableMode; else create">
  <table class="table table-striped">
    <thead>
      <tr>
        <td>Aircraft model</td>
        <td>Seats number</td>
        <td>Carrying</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let type of aircraftsTypes" [class.selected]="aircrafttype === selectedAircraftType">
        <!-- [ngIf]="aircraftType?.id != a.id" [ngIfElse]="edit" -->
        <!-- <ng-template > -->
        <td>{{type?.aircraftModel}}</td>
        <td>{{type?.seatsNumber}}</td>
        <td>{{type?.carrying}}</td>
        <td>
          <button class="btn btn-sm btn-primary" (click)="onSelect(type)">Details</button>
          <button class="btn btn-sm btn-primary" (click)="editType(type)">Edit</button>
          <button class="btn btn-sm btn-danger" (click)="delete(type)">Delete</button>
        </td>
        <!-- </ng-template> -->
      </tr>
    </tbody>
  </table>
  
  <aircraft-type-detail [aircrafttype]="selectedAircraftType"></aircraft-type-detail>
</div>

<ng-template #create>
    <div class="form-group">      
        <label>AircraftModel</label>
        <input type="text" [(ngModel)]="aircraftType.aircraftModel" class="form-control" />
    </div>
    <div class="form-group">
        <label>SeatsNumber</label>
        <input type="text" [(ngModel)]="aircraftType.seatsNumber" class="form-control" />
    </div>
    <div class="form-group">
        <label>Carrying</label>
        <input type="text" [(ngModel)]="aircraftType.carrying" class="form-control" />
    </div>
    <div>
        <input type="button" value="Save" (click)="save()" class="btn btn-success" />
        <input type="button" value="Cancel" (click)="cancel()" class="btn btn-warning" />
    </div>
</ng-template>

<ng-template #edit>
    <div class="form-group">      
        <label>AircraftModel</label>
        <input type="text" [(ngModel)]="aircraftType.aircraftModel" class="form-control" />
    </div>
    <div class="form-group">
        <label>SeatsNumber</label>
        <input type="text" [(ngModel)]="aircraftType.seatsNumber" class="form-control" />
    </div>
    <div class="form-group">
        <label>Carrying</label>
        <input type="text" [(ngModel)]="aircraftType.carrying" class="form-control" />
    </div>
    <div>
        <input type="button" value="Save" (click)="save()" class="btn btn-success" />
        <input type="button" value="Cancel" (click)="cancel()" class="btn btn-warning" />
    </div>
</ng-template>