<div class="row">
    <div class="col-md-12">
        <h2 class="title-h2">List of aircrafts types</h2>
    </div>
</div>

<div *ngIf="tableMode; else create" class="list-wrapper">
    <div class="row">
        <div class="col-md-12 add-btn">
            <hr/>
            <input type="button" value="Add" class="btn btn-success" (click)="add(aircraftType)" />
            <hr/>
        </div>
    </div>
    <div class="row list-header">
        <div class="col-md-3">Aircraft model</div>
        <div class="col-md-3">Seats number</div>
        <div class="col-md-3">Carrying</div>
    </div>
    <div *ngFor="let aircraftType of aircraftsTypes; let i = index" class="row list-data-wrapper">

        <div class="col-md-3">{{aircraftType?.aircraftModel}}</div>
        <div class="col-md-3">{{aircraftType?.seatsNumber}}</div>
        <div class="col-md-3">{{aircraftType?.carrying}}</div>
        <div class="col-md-3">
            <a href="#aircraftType-{{ i }}" class="btn btn-info" data-toggle="collapse">Details</a>
            <button class="btn btn-success" (click)="add(aircraftType)">Edit</button>
            <button class="btn btn-danger" (click)="delete(aircraftType)">Delete</button>
        </div>
        <div class="col-md-12">
            <div id="aircraftType-{{ i }}" class="collapse">
                <aircraft-type-detail [aircrafttype]="aircraftType"></aircraft-type-detail>
            </div>
        </div>
    </div>
</div>

<ng-template #create>
    <div class="form-group">
        <label>AircraftModel</label>
        <input type="text" [(ngModel)]="aircraftType.aircraftModel" class="form-control" />
    </div>
    <div class="form-group">
        <label>SeatsNumber</label>
        <input type="text" [(ngModel)]="aircraftType.seatsNumber" class="form-control" />
    </div>
    <div class="form-group">
        <label>Carrying</label>
        <input type="text" [(ngModel)]="aircraftType.carrying" class="form-control" />
    </div>
    <div>
        <input type="button" value="Save" (click)="save()" class="btn btn-success" />
        <input type="button" value="Cancel" (click)="cancel()" class="btn btn-warning" />
    </div>
</ng-template>