<h2>List of stewardesses
    <input type="button" value="Add" class="btn btn-default" (click)="add()" />
  </h2>
  
  <div *ngIf="tableMode; else create">
    <table class="table table-striped">
      <thead>
        <tr>
          <td>First name</td>
          <td>Last name</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let stewardess of stewardesses" [class.selected]="stewardess === selectedStewardess">
  
          <td>{{stewardess?.firstName}}</td>
          <td>{{stewardess?.lastName}}</td>
          <td>
            <button class="btn btn-sm btn-primary" (click)="onSelect(stewardess)">Details</button>
            <button class="btn btn-sm btn-primary" (click)="editType(stewardess)">Edit</button>
            <button class="btn btn-sm btn-danger" (click)="delete(stewardess)">Delete</button>
          </td>
  
        </tr>
      </tbody>
    </table>
  
    <stewardess-detail [stewardess]="selectedStewardess"></stewardess-detail>
  </div>
  
  <ng-template #create>
    <div class="form-group">
      <label>First name</label>
      <input type="text" [(ngModel)]="stewardess.firstName" class="form-control" />
    </div>
    <div class="form-group">
      <label>Last name</label>
      <input type="text" [(ngModel)]="stewardess.lastName" class="form-control" />
    </div>
    <div class="form-group">
      <label>DOB</label>
      <input type="text" [(ngModel)]="stewardess.dob" class="form-control" />
    </div>   
    <div class="form-group">
      <label>Crew id</label>
      <input type="text" [(ngModel)]="stewardess.crewId" class="form-control" />
    </div>
    <div>
      <input type="button" value="Save" (click)="save()" class="btn btn-success" />
      <input type="button" value="Cancel" (click)="cancel()" class="btn btn-warning" />
    </div>
  </ng-template>
  
  <ng-template #edit>
    <div class="form-group">
      <label>First name</label>
      <input type="text" [(ngModel)]="stewardess.firstName" class="form-control" />
    </div>
    <div class="form-group">
      <label>Last name</label>
      <input type="text" [(ngModel)]="stewardess.lastName" class="form-control" />
    </div>
    <div class="form-group">
      <label>DOB</label>
      <input type="text" [(ngModel)]="stewardess.dob" class="form-control" />
    </div>
    <div class="form-group">
      <label>Crew id</label>
      <input type="text" [(ngModel)]="stewardess.crewId" class="form-control" />
    </div>
    <div>
      <input type="button" value="Save" (click)="save()" class="btn btn-success" />
      <input type="button" value="Cancel" (click)="cancel()" class="btn btn-warning" />
    </div>
  </ng-template>