<div class="aircraft-detail col-md-12 collapse" id="collapseDetail">
  <div class="row">
    <div *ngIf="aircraft">
      <div class="col-md-12">
        <h4>Details</h4>
      </div>
      <div class="col-md-12">
        <div class="row detail-list-header">
          <div class="col-md-2">Aircraft release date</div>
          <div class="col-md-3">Aircraft name</div>
          <div class="col-md-2">Exploitation time span</div>
          <div class="col-md-5" text-align="center">
            <div class="row">
              <div class="col-md-4">Aircraft type: model</div>
              <div class="col-md-4">Aircraft type: seats</div>
              <div class="col-md-4">Aircraft type: carrying</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-2">{{aircraft?.aircraftReleaseDate | date:'short'}}</div>
          <div class="col-md-3">{{aircraft?.aircraftName}}</div>
          <div class="col-md-2">{{aircraft?.exploitationTimeSpan}}</div>
          <div class="col-md-5">
            <div class="row">
              <div class="col-md-4">{{aircraft.aircraftType?.aircraftModel}}</div>
              <div class="col-md-4">{{aircraft.aircraftType?.seatsNumber}}</div>
              <div class="col-md-4">{{aircraft.aircraftType?.carrying}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>