<div class="row">
  <div class="col-md-12">
    <h2 class="title-h2">List of departures </h2>
  </div>
</div>

<div *ngIf="tableMode; else create" class="list-wrapper">
  <div class="row">
    <div class="col-md-12 add-btn">
      <hr/>
      <input type="button" value="Add" class="btn btn-success" (click)="add(departure)" />
      <hr/>
    </div>
  </div>
  <div class="row list-header">
    <div class="col-md-4">Departure id</div>
    <div class="col-md-5">Departure date</div>
  </div>
  <div *ngFor="let departure of departures; let i = index" class="row list-data-wrapper">

    <div class="col-md-4">{{departure?.id}}</div>
    <div class="col-md-5">{{departure?.departureDate | date:'short'}}</div>
    <div class="col-md-3">
      <a href="#departures-{{ i }}" class="btn btn-info" data-toggle="collapse">Details</a>
      <button class="btn btn-success" (click)="add(departure)">Edit</button>
      <button class="btn btn-danger" (click)="delete(departure)">Delete</button>
    </div>
    <div class="col-md-12">
      <div id="departures-{{ i }}" class="collapse">
        <departure-detail [departure]="departure"></departure-detail>
      </div>
    </div>
  </div>
</div>

<ng-template #create>
  <div class="form-group">
    <label>Departure date</label>
    <input type="text" [(ngModel)]="departure.departureDate" class="form-control" placeholder="7/15/18, 7:35 PM (more then now)" />
  </div>
  <label>Create other entities in their menu</label>
  <div>
    <input type="button" value="Save" (click)="save()" class="btn btn-success" />
    <input type="button" value="Cancel" (click)="cancel()" class="btn btn-warning" />
  </div>
</ng-template>