<h2>List of crews
    <input type="button" value="Add" class="btn btn-default" (click)="add()" />
  </h2>
  
  <div *ngIf="tableMode; else create">
    <table class="table table-striped">
      <thead>
        <tr>
          <td>Id</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let crew of crews" [class.selected]="crew === selectedCrew">
        
          <td>{{crew?.id}}</td>
          <td>
            <button class="btn btn-sm btn-primary" (click)="onSelect(crew)">Details</button>
            <button class="btn btn-sm btn-primary" (click)="editType(crew)">Edit</button>
            <button class="btn btn-sm btn-danger" (click)="delete(crew)">Delete</button>
          </td>
       
        </tr>
      </tbody>
    </table>
  
    <crew-detail [crew]="selectedCrew"></crew-detail>
  </div>
  
  <ng-template #create>   
    <div class="form-group">
      <label>Pilot</label>
      <input type="text" [(ngModel)]="crew.pilot" class="form-control" />
    </div>
    <div class="form-group">
      <label>Stewardesses</label>
      <input type="text" [(ngModel)]="crew.stewardesses" class="form-control" />
    </div>
    <div>
      <input type="button" value="Save" (click)="save()" class="btn btn-success" />
      <input type="button" value="Cancel" (click)="cancel()" class="btn btn-warning" />
    </div>
  </ng-template>
  
  <ng-template #edit>
      <div class="form-group">
          <label>Pilot</label>
          <input type="text" [(ngModel)]="crew.pilot" class="form-control" />
        </div>
        <div class="form-group">
          <label>Stewardesses</label>
          <input type="text" [(ngModel)]="crew.stewardesses" class="form-control" />
        </div>
        <div>
          <input type="button" value="Save" (click)="save()" class="btn btn-success" />
          <input type="button" value="Cancel" (click)="cancel()" class="btn btn-warning" />
        </div>
    </ng-template>